### BASE DE DATOS DOCKER
DB_USER="YOUR_USER"
DB_PASSWORD="YOUR_PASSWORD"
DB_NAME="YOUR_DB_NAME"

### PGADMIN
PGADMIN_DEFAULT_EMAIL="YOUR_EMAIL"
PGADMIN_DEFAULT_PASSWORD="YOUR_PASSWORD"

### VARIABLE DE ENTORNO
PORT="YOUR_PORT"
NODE_ENV="YOUR_NDOE_ENV"