### PostgreSQL ###
DATABASE_URL="YOUR_DATABASE_URL"

### API KEY ###
API_SECRET_KEY = "YOUR_API_KEY_SECRET"

### Server ###
PORT=3000
BASE_PATH="/api/v1"
NODE_ENV="YOUR_NODE_ENV"

### Cors ###
CORS_ORIGIN="YOUR_CORS_ORIGIN"
